* {
    font-size: 16px;
    font-family: system-ui;
    border-radius: 0.25rem;
    box-sizing: border-box;
    transition: 0.1s ease-in-out;
}

input {
    border: 1px solid #888888;
    padding: 0.5rem 1rem;
}

input:focus {
    outline: 2px solid #000000;
}
input[type="submit"]:active, input[type="reset"]:active {
    background-color: #f5f5f5;
}

form {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    justify-content: start;
    gap:1rem;
}